<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ id }}</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <style class="text/css">
        #image-container {
            max-width: 600px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
            justify-content: center;
            align-items: flex-start;
        }

        .image-wrapper {
            margin: 5px;
            padding: 5px;
            padding: 20px;
            borer-bottom: 1px solid #e9e9e9;
            color: #686868;
        }


    </style>


</head>
<body>
<div class="container justify-content-center">
    <div id="image-container">
        <div id="wrapper">
            <a href="{% url 'list' %}" class="btn btn-dark edit btn-sm m-2 ">Go Back</a>
            <div class="image-wrapper flex-wrapper">
                <div style="flex: 7">
                    <span class="title"><b>ID: {{id}}</b></span>
                </div>
                <div style="flex: 7">
                    <span class="title">Album ID: {{albumId}}, Title: '{{title}}'</span>
                </div>
                <div style="flex: 7">
                    <span class="title">Size: {{height}}x{{width}}, dominant color: {{dominantColorHex}}  <span style="color: {{dominantColorHex}}">■</span></span>
                </div>
                <div style="flex: 7">
                    <span class="title">Local path: {{image}}</span>
                </div>
                <div style="flex: 1">
                    <a href="{% url 'edit' id %}" class="btn btn-outline-dark edit btn-sm my-2 ">Edit</a>
                    <a href="{% url 'delete' id %}" class="btn btn-outline-dark btn-sm m-2">Delete</a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>


